apiVersion: apps/v1
kind: Deployment
metadata:
  name: email-service
  labels:
    app: email-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: email-service
  template:
    metadata:
      labels:
        app: email-service
    spec:
      containers:
      - name: email-service
        image: adsg3160/email-service
        ports:
        - containerPort: 8071
---
apiVersion: v1
kind: Service
metadata:
  name: email-service-service
spec:
  selector:
    app: email-service
  type: LoadBalancer  
  ports:
    - protocol: TCP
      port: 8071
      targetPort: 8071
